extends ../layout

block content
  // ========= REVSLIDER ==========
  section#revslider.fullwidthbanner-container
    .fullwidthbanner
      ul
        // SLIDE
        li(data-transition='slidehorizontal', data-bgpositionend='center bottom')
          img(src='http://placehold.it/1700x640', alt='')
        // SLIDE
        li(data-transition='slidehorizontal', data-bgpositionend='center bottom')
          img(src='http://placehold.it/1700x640', alt='')
      .tp-bannertimer
  // ========= END =========
  // ========= TABS ========
  section.section.section-margin-top
    .container
      .row
        .col-md-12
          #table-3.select-table.table-h.table-2
            nav
              ul
                li.active
                  a(href='#table-3-1') TENDENCIAS
                //- li
                //-   a(href='#table-3-2') SUSCRIPCIONES
            ul
              li#table-3-1.active
                section.section
                  //-           each categoria in categorias
                  //- //- h1 #{categoria.name}
                  //- //- each subcategoria in subcategorias
                  //- //-   if subcategoria.category.name == categoria.name
                  //- //-     h2= subcategoria.name
                  //- //-     each obra in obras
                  //- //-       //- p= obra.subcategory.name
                  //- //-       if obra.subcategory.name == subcategoria.name
                  //- //-         h3= obra.name
                  //- //-         img(src="#{obra.mainImg}", alt="")


                  each categoria in categorias
                    .title-slide
                      h2 Artes #{categoria.name}
                    .container-fluid
                      .nopad.owl-carousel.portfolio-carousel
                        each obra in obras
                          if obra.subcategory.category.name == categoria.name
                            a.clearhover(href='/obra/#{obra._id}')
                              .isotope-info
                                img.img-responsive(src='#{obra.mainImg}', alt='')
                                .hover-info
                                  .infobox-3
                                    h4 #{obra.name}
                                    hr
                                    h5 #{obra.author.username}
                      
              li#table-3-2
                p
                  | Maecenas id nibh ac magna sodales elementum eu at mauris.
                  | Fusce in mauris mattis, vestibulum nulla nec, placerat sem.
                  | Sed at massa sem. Ut gravida porta dolor sed pulvinar.
                  | Etiam nec rhoncus est, non elementum dui. Vestibulum ante
                  | ipsum primis in faucibus orci luctus et elementum ultrices
                  | posuere cubilia.
  // ======= END TABS =======
  // ========= CLIENTS =========
  section.section.section-bar-6
    .container
      .row
        .nopad.owl-carousel.clients-carousel
          .logo
            img(src='http://placehold.it/150x75', alt='')
          .logo
            img(src='http://placehold.it/150x75', alt='')
          .logo
            img(src='http://placehold.it/150x75', alt='')
          .logo
            img(src='http://placehold.it/150x75', alt='')
          .logo
            img(src='http://placehold.it/150x75', alt='')
          .logo
            img(src='http://placehold.it/150x75', alt='')
          .logo
            img(src='http://placehold.it/150x75', alt='')
          .logo
            img(src='http://placehold.it/150x75', alt='')
  // ========= END =========
  // ======== OTHER SCRIPTS ========
  script(src='./assets/js/plugins.js')
  script(src='./assets/rs-plugin/js/jquery.themepunch.tools.min.js')
  script(src='./assets/rs-plugin/js/jquery.themepunch.revolution.min.js')
  script(src='./assets/js/scripts.js')
  // ======== /OTHER SCRIPTS ========
