extends ../layout

block content
  a(href="/") INICIO
  a(href="/artista/all") Artistas
  a(href="/obra/all") Obras
  a(href="/auth") Login/Registro
  br
  if data.alert == undefined
    h1 Artista: #{data.username}
    h3= data.name
    h3= data.bio
    each thing in data.obras
      h3 Obra #{thing.name}
      h3= thing.description
      a(href="/obra/#{thing._id}") Ver Mas
  else
    h1= data.alert